{#
/**
 * @file       twig/monitor_languages.twig 
 * @category   admintool
 * @package    addon_monitor
 * @author     Christian M. Stefan (https://www.wbeasy.de)
 * @license    http://www.gnu.org/licenses/gpl.html
 * @platform   WBCE CMS 1.7.0
 */
#}

<div class="am-toolbar">
  <div class="am-filters">
    {{ include('search.twig') }}
  </div>
</div>

<table id="htmlgrid" class="amDashboard">
  <thead>
    <tr>
      <th>{{ L_('TXT:FLAG') }}</th>
      <th class="am-sort"><span>{{ L_('TEXT:LANGUAGE') }}</span></th>
      <th>{{ L_('TEXT:VERSION') }}</th>
      <th>{{ L_('TEXT:AUTHOR') }}</th>
      <th class="am-sort"><span>{{ L_('TEXT:ACTIVE') }}?</span></th>
    </tr>
  </thead>
  <tbody>
  {% for addon in addons %}
    {% set isActive = (addon.active == 'Y') %}
    <tr id="addon_{{ addon.addon_id }}"
        data-function="language"
        data-active="{{ isActive ? '1' : '0' }}">

      <td class="addon_type">
        {% if addon.icon %}
          <img src="{{ addon.icon }}" alt="{{ addon.directory }}" title="{{ addon.directory }}" width="20" style="vertical-align:middle; margin-right:4px;">
        {% endif %}
        <span class="am-badge am-badge-language">{{ addon.directory }}</span>
      </td>

      <td class="addon_name">{{ addon.name }}</td>

      <td class="addon_version">{{ addon.version }}</td>

      <td class="addon_author">
        <ul class="authors">
          {% for author in addon.author|split(', ') %}
            <li>{{ author }}</li>
          {% endfor %}
        </ul>
      </td>

      <td class="addon_active">
        {% if addon.directory == constant('DEFAULT_LANGUAGE') %}
          <ul class="using_sections"><li>Default</li></ul>
        {% elseif addon.active_pages|length > 0 %}
          <ul class="using_sections">
            <li title="Used on {{ addon.active_pages|length }} page(s)">{{ addon.active_pages|length }}×</li>
            {% for pID in addon.active_pages %}
              <li title="Page {{ pID }}">
                <a href="{{ constant('WB_URL') }}/{{ constant('ADMIN_DIRECTORY') }}/pages/settings.php?page_id={{ pID }}" target="_blank">p{{ pID }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <ul class="using_sections_null"><li>0×</li></ul>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <b>{{ addons|length }} languages installed</b>
      </td>
    </tr>
  </tfoot>
</table>
