<form name="modify" action="{{ WB_URL }}/modules/droplets/save_droplet.php" method="post" style="margin: 0;">
{{ FTAN|raw }}
<input type="hidden" name="data_codepress" value="" />
<input type="hidden" name="droplet_id" value="{{ data.id }}" />
<input type="hidden" name="show_wysiwyg" value="" />

<table class="row_a">
    <tbody>
	<tr>
		<td width="10%" class="setting_name">
			{{ TEXT.NAME }}:
		</td>
		<td width="90%">
			<input type="text" name="title" value="{{ data.name }}" style="width: 38%;" maxlength="32" />
		</td>
	</tr>
	<tr>
		<td valign="top" class="setting_name" width="60px">{{ TEXT.DESCRIPTION }}:</td>
		<td>
			<input type="text" name="description" value="{{ data.description }}" style="width: 98%;" />
		</td>
	</tr>
	<tr>
		<td class="setting_name" width="60px">
			{{ TEXT.ACTIVE }}:
		</td>
		<td>
			<input type="radio" name="active" id="active_true" value="1" {% if data.active == 1 %}checked="checked"{% endif %} />
			<a href="#" onclick="javascript: document.getElementById('active_true').checked = true;">
			<label>{{ TEXT.YES }}</label>
			</a>
			<input type="radio" name="active" id="active_false" value="0" {% if data.active == 0 %}checked="checked"{% endif %} />
			<a href="#" onclick="javascript: document.getElementById('active_false').checked = true;">
			<label>{{ TEXT.NO }}</label>
			</a>
		</td>
	</tr>
{% if data.modified_by == 1 %}
	<tr>
		<td class="setting_name" width="60px">
			{{ TEXT.ADMIN }}:
		</td>
		<td>
			{{ DR_TEXT.ADMIN_EDIT }}&nbsp;
			<input type="radio" name="admin_edit" id="admin_edit_true" value="1" {% if data.admin_edit == 1 %}checked="checked"{% endif %} />
			<a href="#" onclick="javascript: document.getElementById('admin_edit_true').checked = true;">
			<label>{{ TEXT.YES }}</label>
			</a>
			<input type="radio" name="admin_edit" id="admin_edit_false" value="0" {% if data.admin_edit == 0 %}checked="checked"{% endif %} />
			<a href="#" onclick="javascript: document.getElementById('admin_edit_false').checked = true;">
			<label>{{ TEXT.NO }}</label>
			</a>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			{{ DR_TEXT.ADMIN_VIEW }}:
			<input type="radio" name="admin_view" id="admin_view_true" value="1" {% if data.admin_view == 1 %}checked="checked"{% endif %} />
			<a href="#" onclick="javascript: document.getElementById('admin_view_true').checked = true;">
			<label>{{ TEXT.YES }}</label>
			</a>
			<input type="radio" name="admin_view" id="admin_view_false" value="0" {% if data.admin_view == 0 %}checked="checked"{% endif %} />
			<a href="#" onclick="javascript: document.getElementById('admin_view_false').checked = true;">
			<label>{{ TEXT.NO }}</label>
			</a>
		</td>
	</tr>
{% endif %}
	<tr>
		<td valign="top" class="setting_name" width="60px">{{ TEXT.CODE }}:</td>
		<td>
            <textarea name="savecontent" id ="contentedit" style="width: 98%; height: 450px;" rows="50" cols="120">{{ data.code }}</textarea>&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" class="setting_name" width="60px">{{ TEXT.COMMENTS }}:</td>
		<td>
			<textarea name="comments" style="width: 98%; height: 100px;" rows="6" cols="120">{{ data.comments }}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>
<br />
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td align="left">
{% if data.modified_by == 1 or data.admin_edit == 0 %}
			<button  class="save" name="save" type="submit">{{ TEXT.SAVE }}</button>
{% endif %}
		</td>
		<td align="right">
			<button class="cancel" type="button" onclick="javascript: window.location = '{{ module_edit_link }}';">{{ TEXT.CANCEL }}</button>
		</td>
	</tr>
</table>
</form>
