{{ insertCssFile( CURRENT_DIR ~ '/forms.css') }}

<h1>{{ L_('TEXT:SUCCESS') }}</h1>
<div class="alert alert-success">
    <p>{{ L_('TEXT:REGISTER_THANKYOU') }}</p>
    <p>{{ L_('TEXT:REGISTER_CHECK_MAIL_ACTIVATION_USER') }}</p>
    <p>{{ L_('TEXT:REGISTER_GENEREC_EMAIL_NOT_RECIEVED') }}</p>
</div>